@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,900;1,900&display=swap");
body {
  overflow-x: hidden; }

.euro-footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 60px 80px;
  background-color: #cdd9de;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden; }
  .euro-footer::before {
    content: "";
    width: 300px;
    height: 300px;
    background: rgba(39, 60, 117, 0.2);
    -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    -webkit-backdrop-filter: blur(6px);
            backdrop-filter: blur(6px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    position: absolute;
    top: -45px;
    right: -90px;
    border-radius: 50%; }
  .euro-footer::after {
    content: "";
    width: 300px;
    height: 300px;
    background: rgba(39, 60, 117, 0.2);
    -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
            box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    -webkit-backdrop-filter: blur(6px);
            backdrop-filter: blur(6px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    position: absolute;
    bottom: -45px;
    left: -90px;
    border-radius: 50%; }
  .euro-footer .about-link-share {
    position: relative;
    width: 300px;
    height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    color: #273c75;
    font-weight: 600;
    margin-bottom: 15px;
    margin-right: 15px;
    background: linear-gradient(145deg, #dbe8ee, #b9c3c8);
    -webkit-box-shadow: 5px 5px 10px #aeb8bd, -5px -5px 10px #ecfaff;
            box-shadow: 5px 5px 10px #aeb8bd, -5px -5px 10px #ecfaff;
    padding: 25px;
    z-index: 15; }
    .euro-footer .about-link-share::before {
      content: '';
      position: absolute;
      width: 280px;
      height: 380px;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      background: #cdd9de;
      -webkit-box-shadow: inset 5px 5px 10px #aeb8bd, inset -5px -5px 10px #ecfaff;
              box-shadow: inset 5px 5px 10px #aeb8bd, inset -5px -5px 10px #ecfaff;
      z-index: 14; }
    .euro-footer .about-link-share h6 {
      font-weight: 900;
      height: 50px;
      padding-top: 10px;
      text-align: center;
      font-size: 25px;
      z-index: 20; }
    .euro-footer .about-link-share p {
      height: 130px;
      padding: 3px 3px;
      overflow: hidden;
      padding-top: 10px;
      text-align: justify;
      font-size: 18px;
      z-index: 20; }
    .euro-footer .about-link-share span {
      z-index: 20;
      height: 30px;
      margin-bottom: 5px; }
      .euro-footer .about-link-share span a {
        margin-right: 5px; }
        .euro-footer .about-link-share span a i {
          color: red;
          font-size: 20px; }
    .euro-footer .about-link-share .link-share {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      margin-top: 30px;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      height: 60px;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      text-align: center;
      z-index: 20; }
      .euro-footer .about-link-share .link-share i {
        position: relative;
        padding: 5px;
        padding-left: 8px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-item-align: center;
            align-self: center;
        text-align: center;
        width: 35px;
        height: 35px;
        font-size: 20px;
        cursor: pointer;
        background: #cdd9de;
        -webkit-box-shadow: 5px 5px 10px #aeb8bd, -5px -5px 10px #ecfaff;
                box-shadow: 5px 5px 10px #aeb8bd, -5px -5px 10px #ecfaff; }
        .euro-footer .about-link-share .link-share i:hover {
          color: red;
          background: #cdd9de;
          -webkit-box-shadow: inset 5px 5px 10px #aeb8bd, inset -5px -5px 10px #ecfaff;
                  box-shadow: inset 5px 5px 10px #aeb8bd, inset -5px -5px 10px #ecfaff; }
  .euro-footer .AdTypes {
    position: relative;
    width: 300px;
    height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    color: #273c75;
    margin-bottom: 15px;
    margin-right: 15px;
    background: linear-gradient(145deg, #dbe8ee, #b9c3c8);
    -webkit-box-shadow: 5px 5px 10px #aeb8bd, -5px -5px 10px #ecfaff;
            box-shadow: 5px 5px 10px #aeb8bd, -5px -5px 10px #ecfaff;
    padding: 25px;
    padding-top: 10px; }
    .euro-footer .AdTypes::before {
      content: '';
      position: absolute;
      width: 280px;
      height: 380px;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      background: #cdd9de;
      -webkit-box-shadow: inset 5px 5px 10px #aeb8bd, inset -5px -5px 10px #ecfaff;
              box-shadow: inset 5px 5px 10px #aeb8bd, inset -5px -5px 10px #ecfaff; }
    .euro-footer .AdTypes h6 {
      font-weight: 900;
      height: 30px;
      padding-top: 5px;
      text-align: center;
      font-size: 25px;
      font-weight: 900;
      z-index: 20; }
    .euro-footer .AdTypes a {
      text-decoration: none;
      color: #273c75;
      font-weight: 600;
      text-align: center;
      padding: 5px;
      background: #cdd9de;
      -webkit-box-shadow: 5px 5px 10px #aeb8bd, -5px -5px 10px #ecfaff;
              box-shadow: 5px 5px 10px #aeb8bd, -5px -5px 10px #ecfaff;
      z-index: 16; }
      .euro-footer .AdTypes a:hover {
        color: red;
        background: #cdd9de;
        -webkit-box-shadow: inset 5px 5px 10px #aeb8bd, inset -5px -5px 10px #ecfaff;
                box-shadow: inset 5px 5px 10px #aeb8bd, inset -5px -5px 10px #ecfaff; }
  .euro-footer .form {
    position: relative;
    width: 300px;
    height: 400px;
    margin-bottom: 15px;
    margin-right: 15px;
    color: #273c75;
    background: linear-gradient(145deg, #dbe8ee, #b9c3c8);
    -webkit-box-shadow: 5px 5px 10px #aeb8bd, -5px -5px 10px #ecfaff;
            box-shadow: 5px 5px 10px #aeb8bd, -5px -5px 10px #ecfaff;
    padding: 25px;
    z-index: 16; }
    .euro-footer .form::before {
      content: '';
      position: absolute;
      width: 280px;
      height: 380px;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      background: #cdd9de;
      -webkit-box-shadow: inset 5px 5px 10px #aeb8bd, inset -5px -5px 10px #ecfaff;
              box-shadow: inset 5px 5px 10px #aeb8bd, inset -5px -5px 10px #ecfaff; }
    .euro-footer .form h6 {
      position: relative;
      font-weight: 900;
      height: 50px;
      padding-top: 10px;
      text-align: center;
      font-size: 25px;
      margin-bottom: 15px;
      z-index: 20; }
    .euro-footer .form input {
      position: relative;
      z-index: 20;
      width: 100%;
      margin-bottom: 10px;
      outline: none;
      padding: 3px;
      color: #273c75;
      border: none;
      font-weight: 600;
      background: #cdd9de;
      -webkit-box-shadow: inset 5px 5px 10px #aeb8bd, inset -5px -5px 10px #ecfaff;
              box-shadow: inset 5px 5px 10px #aeb8bd, inset -5px -5px 10px #ecfaff; }
    .euro-footer .form textarea {
      position: relative;
      width: 100%;
      padding: 3px;
      outline: none;
      z-index: 20;
      color: #273c75;
      border: none;
      font-weight: 600;
      background: #cdd9de;
      -webkit-box-shadow: inset 5px 5px 10px #aeb8bd, inset -5px -5px 10px #ecfaff;
              box-shadow: inset 5px 5px 10px #aeb8bd, inset -5px -5px 10px #ecfaff; }
    .euro-footer .form button {
      width: 100%;
      position: relative;
      margin-top: 10px;
      border: none;
      font-weight: 600;
      padding: 5px;
      color: #273c75;
      background: #cdd9de;
      -webkit-box-shadow: 5px 5px 10px #aeb8bd, -5px -5px 10px #ecfaff;
              box-shadow: 5px 5px 10px #aeb8bd, -5px -5px 10px #ecfaff;
      z-index: 20; }
      .euro-footer .form button:hover {
        color: red;
        background: #cdd9de;
        -webkit-box-shadow: inset 5px 5px 10px #aeb8bd, inset -5px -5px 10px #ecfaff;
                box-shadow: inset 5px 5px 10px #aeb8bd, inset -5px -5px 10px #ecfaff; }

@media (max-width: 794px) {
  .euro-footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }
@media (max-width: 530px) {
  .euro-footer {
    padding: 30px 5px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }

/*# sourceMappingURL=Footer.css.map */